{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Loic Tardy">
    <meta name="description" content="Tweet NLP analyzer">
    <link rel="icon" href="favicon.ico" type="">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tweet Analyzer</title>
</head>
<body>
    <div class="container">
        <h1>Analyser le tweet:</h1>
        <form action="result">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Analyser">
        </form>
    </div>
</body>
</html>